<a href="https://colab.research.google.com/github/AoifMurphy/PythonProjectExercises/blob/master/Covid_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
global_data = pd.read_csv(r'https://covid19.who.int/WHO-COVID-19-global-data.csv')
global_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [7]:
global_data.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.867700e+05      2.867700e+05  286770.000000       2.867700e+05
mean   2.665810e+03      1.250508e+06      24.114398       1.663237e+04
std    3.905500e+04      5.859306e+06     144.649623       7.126501e+04
min   -8.261000e+03      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      1.499000e+03       0.000000       1.300000e+01
50%    1.100000e+01      2.939400e+04       0.000000       3.220000e+02
75%    3.520000e+02      3.413030e+05       4.000000       4.997000e+03
max    6.966046e+06      1.030815e+08   11447.000000       1.121819e+06

In [9]:
vaccination_data = pd.read_csv(r'https://covid19.who.int/who-data/vaccination-data.csv')
vaccination_data.info

<bound method DataFrame.info of                COUNTRY ISO3 WHO_REGION DATA_SOURCE DATE_UPDATED  \
0          Afghanistan  AFG       EMRO   REPORTING   2023-04-25
1              Albania  ALB       EURO   REPORTING   2023-03-19
2              Algeria  DZA       AFRO   REPORTING   2022-09-04
3       American Samoa  ASM       WPRO   REPORTING   2023-03-29
4              Andorra  AND       EURO   REPORTING   2023-02-26
..                 ...  ...        ...         ...          ...
224           Viet Nam  VNM       WPRO   REPORTING   2023-04-20
225  Wallis and Futuna  WLF       WPRO   REPORTING   2023-01-23
226              Yemen  YEM       EMRO   REPORTING   2023-04-18
227             Zambia  ZMB       AFRO   REPORTING   2023-04-09
228           Zimbabwe  ZWE       AFRO   REPORTING   2023-04-23

     TOTAL_VACCINATIONS  PERSONS_VACCINATED_1PLUS_DOSE  \
0            16847327.0                       14735342
1             3070468.0                        1347054
2            15267442.0                        7840131
3              114706.0                          46206
4              156957.0                          57904
..                  ...                            ...
224         266128292.0                       90245924
225             17303.0                           7150
226           1275368.0                        1032545
227          13614983.0                       11637730
228          13935112.0                        7139426

     TOTAL_VACCINATIONS_PER100  PERSONS_VACCINATED_1PLUS_DOSE_PER100  \
0                       43.278                                37.852
1                      106.700                                47.332
2                       34.817                                17.879
3                      207.812                                83.711
4                      203.100                                76.012
..                         ...                                   ...
224                    273.405                                92.713
225                    153.859                                63.578
226                      4.276                                 3.462
227                     74.059                                63.304
228                     93.758                                48.035

     PERSONS_FULLY_VACCINATED  PERSONS_FULLY_VACCINATED_PER100  \
0                    14021488                           36.019
1                     1276432                           44.851
2                     6481186                           14.780
3                       42479                           76.959
4                       53492                           70.221
..                        ...                              ...
224                  85908380                           88.257
225                      6803                           60.493
226                    788707                            2.644
227                   9147920                           49.760
228                   5357112                           36.043

                                         VACCINES_USED FIRST_VACCINE_DATE  \
0    AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...         2021-02-22
1    AstraZeneca - Vaxzevria,Gamaleya - Gam-Covid-V...         2021-01-13
2    Beijing CNBG - BBIBP-CorV,Gamaleya - Gam-Covid...         2021-01-30
3    Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfiz...         2020-12-21
4    AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...         2021-01-20
..                                                 ...                ...
224  AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...         2021-03-08
225                                 Moderna - Spikevax         2021-03-19
226  AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...         2021-04-20
227  Beijing CNBG - BBIBP-CorV,Janssen - Ad26.COV 2...         2021-04-14
228  Beijing CNBG - BBIBP-CorV,Bharat - Covaxin,Gam...         2021-02-18

     NUMBER_VACCINES_TYPES_USED  PERSONS_BOOSTER_ADD_DOSE  \
0                          11.0                 1077577.0
1                           5.0                  395384.0
2                           4.0                  575651.0
3                           3.0                   24160.0
4                           3.0                   43060.0
..                          ...                       ...
224                         6.0                57881873.0
225                         1.0                    3350.0
226                        11.0                   63989.0
227                         3.0                 1137360.0
228                         4.0                 1917174.0

     PERSONS_BOOSTER_ADD_DOSE_PER100
0                              2.768
1                             13.893
2                              1.313
3                             43.770
4                             56.526
..                               ...
224                           59.464
225                           29.788
226                            0.215
227                            6.187
228                           12.899

[229 rows x 16 columns]>

In [11]:
vaccination_data.describe()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
count,2.280000e+02,2.290000e+02,227.000000,229.000000,2.290000e+02,229.000000,225.000000,2.110000e+02,211.000000
mean,5.852351e+07,2.422316e+07,154.108956,63.527537,2.229391e+07,58.392354,4.955556,1.159391e+07,32.146739
std,2.836544e+08,1.138253e+08,84.208722,25.634507,1.083563e+08,25.493044,2.899781,6.120666e+07,25.420354
min,1.380000e+02,0.000000e+00,0.312000,0.000000,0.000000e+00,0.000000,1.000000,0.000000e+00,0.000000
25%,4.672435e+05,1.914030e+05,83.350000,45.187000,1.848010e+05,38.765000,3.000000,4.610650e+04,8.437000
50%,4.665630e+06,2.740227e+06,155.844000,67.015000,2.414223e+06,63.137000,4.000000,6.515020e+05,29.788000
75%,2.275058e+07,1.073245e+07,216.950500,82.552000,9.157915e+06,77.584000,7.000000,4.210630e+06,53.103000
max,3.515873e+09,1.317995e+09,469.778000,163.185000,1.284414e+09,163.185000,12.000000,8.338204e+08,145.944000

In [12]:
vaccination_data.columns

Index(['COUNTRY', 'ISO3', 'WHO_REGION', 'DATA_SOURCE', 'DATE_UPDATED',
       'TOTAL_VACCINATIONS', 'PERSONS_VACCINATED_1PLUS_DOSE',
       'TOTAL_VACCINATIONS_PER100', 'PERSONS_VACCINATED_1PLUS_DOSE_PER100',
       'PERSONS_FULLY_VACCINATED', 'PERSONS_FULLY_VACCINATED_PER100',
       'VACCINES_USED', 'FIRST_VACCINE_DATE', 'NUMBER_VACCINES_TYPES_USED',
       'PERSONS_BOOSTER_ADD_DOSE', 'PERSONS_BOOSTER_ADD_DOSE_PER100'],
      dtype='object')

In [13]:
vaccines = pd.read_csv(r'https://covid19.who.int/who-data/vaccination-metadata.csv')
vaccines.head()

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
0,GRL,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
1,SHN,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
2,FRO,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
3,FRO,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
4,BIH,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID

In [14]:
vaccines.tail()

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
1090,FRA,Pfizer BioNTech - Comirnaty Bivalent Original/...,Comirnaty Bivalent Original/Omicron BA.4/BA.5,NaN,NaN,2022-10-05,NaN,NaN,REPORTING
1091,LVA,Pfizer BioNTech - Comirnaty Bivalent Original/...,Comirnaty Bivalent Original/Omicron BA.4/BA.5,NaN,NaN,2022-10-05,NaN,NaN,REPORTING
1092,DEU,Moderna – Spikevax Bivalent Original/Omicron ...,Moderna – Spikevax Bivalent Original/Omicron ...,NaN,NaN,2022-09-14,NaN,NaN,REPORTING
1093,DEU,Pfizer BioNTech - Comirnaty Bivalent Original/...,Pfizer BioNTech - Comirnaty Bivalent Original/...,NaN,NaN,2022-09-07,NaN,NaN,REPORTING
1094,SVN,Pfizer BioNTech - Comirnaty Bivalent Original/...,Pfizer BioNTech - Comirnaty Bivalent Original/...,NaN,NaN,2022-09-21,NaN,NaN,REPORTING

In [15]:
vaccines.describe()

       END_DATE  COMMENT
count       0.0      0.0
mean        NaN      NaN
std         NaN      NaN
min         NaN      NaN
25%         NaN      NaN
50%         NaN      NaN
75%         NaN      NaN
max         NaN      NaN

In [16]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ISO3                1095 non-null   object
 1   VACCINE_NAME        1095 non-null   object
 2   PRODUCT_NAME        1094 non-null   object
 3   COMPANY_NAME        1051 non-null   object
 4   AUTHORIZATION_DATE  490 non-null    object
 5   START_DATE          808 non-null    object
 6   END_DATE            0 non-null      float64
 7   COMMENT             0 non-null      float64
 8   DATA_SOURCE         1095 non-null   object
dtypes: float64(2), object(7)
memory usage: 77.1+ KB